--scale-ratio: calc(4 / 3);
--base-font-size: 20px;
--heading-font-family: sans-serif;
--heading-font-weight: bold;
--body-font-family: sans-serif;
--body-font-weight: 400;
--body-bold-font-weight: 600;
--paragraph-spacing: 1;
--code-font-family: monospace;
