doctype html
html(lang='en')
  head
    title Sheng
    link(rel='stylesheet', href="https://rsms.me/inter/inter.css")
    link(rel='stylesheet', href="index.scss")
  body
    div.type
      include:markdown-it README.md