@import "reset-css/reset.css";

@mixin sheng(
  $scale-ratio: 4/3,
  $base-font-size: 20px,
  $heading-font-family: sans-serif,
  $heading-font-weight: bold,
  $body-font-family: sans-serif,
  $body-font-weight: normal,
  $body-bold-font-weight: bold,
  $paragraph-spacing: 1,
  $code-font-family: monospace
) {
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  width: 33em;
  margin: 0 auto;

  font-size: $base-font-size;
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  line-height: 1.5;
  overflow-wrap: break-word;
  font-kerning: normal;
  font-feature-settings: "kern", "liga", "clig", "calt";

  b,
  strong,
  dt,
  th {
    font-weight: $body-bold-font-weight;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hgroup,
  ul,
  ol,
  dl,
  dd,
  p,
  figure,
  pre,
  table,
  fieldset,
  blockquote,
  form,
  noscript,
  iframe,
  img,
  hr,
  address {
    margin-bottom: $paragraph-spacing * $base-font-size;
  }

  hr {
    background: currentColor;
    border: none;
    height: 1px;
    margin-bottom: $paragraph-spacing * $base-font-size - 1px;
    opacity: 0.6;
  }

  ol,
  ul {
    list-style-position: outside;
    list-style-image: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    margin-top: 2em;
  }
  h1 {
    font-size: $scale-ratio * $scale-ratio * $base-font-size;
    line-height: 1.125;
  }
  h2 {
    font-size: $scale-ratio * $base-font-size;
    line-height: 1.25;
  }
  h3,
  h4,
  h5,
  h6 {
    font-size: $base-font-size;
    line-height: 1.5;
  }

  code,
  pre {
    font-family: $code-font-family;
    font-size: 0.9em;
  }
}
