@import "reset-css/reset.css";

.type {
  --scale-ratio: calc(4 / 3);
  --base-font-size: 20px;
  --heading-font-family: sans-serif;
  --heading-font-weight: bold;
  --body-font-family: sans-serif;
  --body-font-weight: 400;
  --body-bold-font-weight: 600;
  --paragraph-spacing: 1;
  --code-font-family: monospace;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  width: 33em;
  margin: 0 auto;

  font-size: var(--base-font-size);
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  line-height: 1.5;
  overflow-wrap: break-word;
  font-kerning: normal;
  font-feature-settings: "kern", "liga", "clig", "calt";

  b,
  strong,
  dt,
  th {
    font-weight: var(--body-bold-font-weight);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hgroup,
  ul,
  ol,
  dl,
  dd,
  p,
  figure,
  pre,
  table,
  fieldset,
  blockquote,
  form,
  noscript,
  iframe,
  img,
  hr,
  address {
    margin-bottom: calc(var(--paragraph-spacing) * var(--base-font-size));
  }

  hr {
      background: currentColor;
      border: none;
      height: 1px;
      margin-bottom: calc(var(--paragraph-spacing) * var(--base-font-size) - 1px);
  }

  ol, ul {
      list-style-position: outside;
      list-style-image: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    margin-top: 2em;
  }
  h1 {
    font-size: calc(
      var(--scale-ratio) * var(--scale-ratio) * var(--base-font-size)
    );
    line-height: 1.125;
  }

  h2 {
    font-size: calc(var(--scale-ratio) * var(--base-font-size));
    line-height: 1.25;
  }

  code, pre {
      font-family: var(--code-font-family);
      font-size: 0.9em;
  }
}
